
<div class="container">
    <div class="file-drop-area row"   
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)">
            {{ 'DRAG_FILES' | translate}}

            <div *ngIf="files.length === 0" class="col-12">
                {{ 'NO_FILES' | translate}}

            </div>
            <div *ngIf="files.length > 0" class="col-12">
                <div class="file" *ngFor="let file of files">
                    {{ file?.name}}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>  {{ 'FILES_DRAGGED' | translate}}
            </h3>
            <ul *ngIf="files.length > 0">
                <li *ngFor="let file of files">
                  {{ file.name }}
                </li>
              </ul>
        </div>
        <div class="col-md-6">
            <h3>  {{ 'FILES_UPLOADED' | translate}}
            </h3>
            <ul *ngIf="filesUploaded.length > 0">
                <li *ngFor="let file of filesUploaded">
                  {{ file.filename }}
                </li>
              </ul>
        </div>
    </div>
    <div class="row">
        <button #button class="btn btn-primary col-5 mx-1" (mousedown)="onMouseDown($event)"  (click)="generateFilesList()" >   {{ 'SUBMIT_FILES' | translate}}
        </button>
        <button class="btn btn-primary col-5 mx-1"  (click)="getStatus()" >   {{ 'LOGIN_STATUS' | translate}}
        </button>
    </div>

</div>
